.InfoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    background-color: #2979FF;
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}

.rightInnerContainer {
    flex: 0.5;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
}

.onlineIcon {
    margin-right: 5%;
}

.rightInnerContainer .closeIcon:hover {
    background-color: red;
    color: red;
    font-weight: bolder;
}